
    body{
        background-color: rgba(125, 145, 160, 0.495);
    }
    .my-botton{
        color:rgb(113, 172, 172);
        background-color: aliceblue;
    }
    strong{
        color:rgb(150, 122, 177);
    }

    p> strong{
        color:rgb(113, 172, 172);
    }
    
    ol> ul{
        color:rgb(91, 130, 117);
    }
    a:hover{
        background-color:rgba(125, 145, 160, 0.495) ;
     }

    a:focus{
        background-color: rgb(113, 71, 71);
        outline:invert;
    }

    li:first-child{
        background-color: rgb(210, 196, 178);
        font-size: larger;
    }

    li:last-child{
        background-color: rgb(255, 196, 107);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }

    .prompt-20{
      color: rgb(51, 93, 93);
    }

    .prompt-21{
        color:#389274;
    }
    
    .prompt-22{
        color:rgb(0, 214, 143);
    }

    .prompt-23{
        color:hsl(240, 77%, 52%);
    }

    .image-26{
          background-image: url(https://i.pinimg.com/564x/f6/57/64/f65764c991a50a4a61c7fa2be6f80ac3.jpg)
    }

    .image-27{
        background-image: url(https://i.pinimg.com/564x/f6/57/64/f65764c991a50a4a61c7fa2be6f80ac3.jpg);
        background-position: 100%;
        background-size:auto;
        background-repeat:inherit;
    }

    .image-29-1{
        box-shadow: 0 1px 20px rgb(113, 172, 172);
    }

    .image-29-2{
        background:#8bbfae;
        box-shadow: 0 8px 8px -4px rgb(51, 93, 93);
    }

    .image-30{
        box-shadow:
  3px 2.6px 6.4px rgba(0, 0, 0, 0.005),
  7px 6.1px 14.8px rgba(0, 0, 0, 0.021),
  12.6px 11px 26.6px rgba(0, 0, 0, 0.049),
  20.9px 18.3px 44.2px rgba(0, 0, 0, 0.093),
  34.4px 30.2px 72.7px rgba(0, 0, 0, 0.157),
  60.1px 52.7px 127.1px rgba(0, 0, 0, 0.253),
  130px 114px 275px rgba(0, 0, 0, 0.43)
;
    }

    .invisible-ink > span{
        opacity: 0%;
    }
    
    .invisible-ink >span:hover{
        opacity:100%;
    }

    .invisible-ink-2 >span{
        opacity: 0%;
        color:rgba(125, 145, 160, 0.495);
        background-color:rgba(125, 145, 160, 0.495) ;
        transition: color 500ms ease;
    }

    .invisible-ink-2 >span:hover{
        color:aqua;
        opacity: 100%;
    }

    .ebay> span:nth-child(1){
        color:#d3413e;
    }

    .ebay> span:nth-child(2){
        color:#2864cc;
    }

    .ebay> span:nth-child(3){
        color:#ebb23d;
    }

    .ebay> span:nth-child(4){
        color: #92b73b;
    }

    .image-2-1{
        transform: rotate(0.5turn) translate(100px);
    }
    .image-2-2{
        transform:translate(100px) rotate(0.5turn);
    }

    .image-35{
        filter: blur(3px);
        filter: grayscale(1);
        filter:saturate(2.2);
    }